.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;

    .text-field {
        width: 100%;
    }

    .submit-button {
        margin-top: 16px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .spinner {
            margin-right: 8px;
        }
    }
}